config.stopBubbling = true
lombok.data.flagUsage = error
lombok.value.flagUsage = error
lombok.val.flagUsage = error
lombok.var.flagUsage = error
lombok.nonNull.flagUsage = error
lombok.allArgsConstructor.flagUsage = error
lombok.requiredArgsConstructor.flagUsage = error
lombok.cleanup.flagUsage = error
lombok.sneakyThrows.flagUsage = error
lombok.synchronized.flagUsage = error
lombok.experimental.flagUsage = error

# COMMENT lombok 사용으로 생기는 @Getter, @Builder등을 테스트 커버리지에서 제외시키기 위한 설정
lombok.addLombokGeneratedAnnotation = true
