<configuration scan="true" scanPeriod="10 seconds">

    <!--    Date Pattern Setting    -->
    <timestamp key="DATE_FORMAT" datePattern="yyyy-MM-dd"/>

    <!--    Log Pattern Setting    -->
    <property name="CONSOLE_LOG_PATTERN"
              value="[Occurred Time] - [%t{yyyy-MM-dd} %t{HH:mm:ss}] REQUEST AND RESPONSE%n[REQUEST]%n%fullRequest%n[RESPONSE]%n%fullResponse"/>
    <property name="INFO_LOG_PATTERN"
              value="[Occurred Time] - [%t{yyyy-MM-dd} %t{HH:mm:ss}] REQUEST AND RESPONSE%n[REQUEST]%n%fullRequest%n[RESPONSE]%n%fullResponse"/>

    <!--    Local    -->
    <springProfile name="prod, local">
        <include resource="appender/all-console-appender.xml"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
    </springProfile>

    <!--    Production    -->
    <springProfile name="prod, dev">
        <include resource="appender/access-file-appender.xml"/>
        <include resource="appender/info-file-appender.xml"/>
        <appender-ref ref="ACCESS_FILE"/>
        <appender-ref ref="INFO_FILE"/>
    </springProfile>
</configuration>
